PORT=5003
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=facility_service_managemnet_db

# Optional email notifications
ADMIN_NOTIFY_EMAIL=
MAIL_FROM=
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

NORMAL_USER_AUTH_API_URL=http://45.114.143.183:83/api/auth/login
NORMAL_USER_AUTH_CLIENT_ID=internal-portal
